.poll-card {
    background: #1c1c1c;
    color: white;
    margin: 10px 0;
    padding: 20px;
    border-radius: 8px;
  }
  
  .poll-question {
    font-size: 1.
  2em;
  text-align: center;
  margin-bottom: 20px;
  }
  
  .poll-options {
  display: flex;
  flex-direction: column;
  }
  
  .poll-option {
  padding: 10px 20px;
  margin: 5px 0;
  border: 1px solid #444;
  border-radius: 4px;
  user-select: none;
  transition: background-color 0.3s;
  }
  
  .poll-option:hover {
  background-color: #2a2a2a;
  }
  
  .selected {
  background-color: #333;
  }
  
  .option-input-group {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  }
  
  .option-input-group input {
    flex-grow: 1;
    background: ivory;
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
  
  .add-poll-form button {
  margin-right: 5px;
  }
  
  .add-poll-form input{
    flex-grow: 1;
    background: ivory;
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
  }
  
  .add-poll-form button {
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    max-width: 100%;
    min-width: 140px;
    text-decoration: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }

  .add-poll-form button:active,
  .add-poll-form button:hover{
    outline: 0;
  }

  .add-poll-form button span{
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }

  .add-poll-form button:hover span{
     background: none;
  }

  @media(min-width: 768px){
    .add-poll-form button{
        font-size: 24px;
        min-width: 196px;
    }
  }